openapi: "3.0.2"
info:
  title: "Steam Games and reviews"
  description: "DESCRIPTION TBD"
  version: "2.5"
  termsOfService: "https://openweathermap.org/terms"
  contact:
    name: "OpenWeatherMap API"
    url: "https://openweathermap.org/api"
    email: "some_email@gmail.com"
  license:
    name: "CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)"
    url: "https://openweathermap.org/price"

servers:
- url: "https://api.openweathermap.org/data/2.5"

paths:
  /weather:
    get:
      tags:
      - Example Current Weather Data
      summary: "Call current weather data for one location"
      description: "Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations."
      operationId: CurrentWeatherData
      parameters:
        - $ref: '#/components/schemas/Game'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200'
        "404":
          description: Not found response
          content:
            text/plain:
              schema:
                title: Weather not found
                type: string
                example: Not found
security:
- app_id: []

tags:
  - name: Example Current Weather Data
    description: "Get current weather details"

externalDocs:
  description: API Documentation
  url: https://openweathermap.org/api

components:

  parameters:


    lang:
      name: lang
      in: query
      description: '**Language**. *Example: en*. You can use lang parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.'
      schema:
        type: string
        enum: [ar, bg, ca, cz, de, el, en, fa, fi, fr, gl, hr, hu, it, ja, kr, la, lt, mk, nl, pl, pt, ro, ru, se, sk, sl, es, tr, ua, vi, zh_cn, zh_tw]
        default: "en"

  schemas:
    "200":
      title: Successful response
      type: object
    Review:
      title: Review
      type: object
      properties:
        review_id:
          type: number
          description: The unique id of the recommendation
          example: 85184605
        app_id:
          type: number
          description: The unique id of the app (game)
          example: 292030
        app_name:
          type: string
          description: The name of the app (game)
          example: 'The Witcher 3: Wild Hunt'
        language:
          type: string
          description: Language the user indicated when authoring the review
          example: 'english'
        review:
          type: string
          description: Text of written review
          example: 'One of the best RPGs of all time, worthy of any collection'
        timestamp_created:
          type: number
          description: Date the review was created (unix timestamp)
          example: 1611379970
        timestamp_updated:
          type: number
          description: Date the review was last updated (unix timestamp)
          example: 1611379970
        recommended:
          type: boolean
          description: TRUE if the user recommends the game
          example: true
        votes_helpful:
          type: number
          description: The number of users that found this review helpful
          example: 0
        votes_funny:
          type: number
          description: The number of users that found this review funny
          example: 0
        weighted_vote_score:
          type: number
          description: Helpfulness score
          example: 0.0
        comment_count:
          type: number
          description: Number of comments posted on this review
          example: 0
        steam_purchase:
          type: boolean
          description: TRUE if the user purchased the game on Steam
          example: true
        received_for_free:
          type: boolean
          description: TRUE if the user checked a box saying they got the app for free
          example: false
        written_during_early_access:
          type: boolean
          description: TRUE if the user posted this review while the game was in Early Access
          example: false
        author_steamid:
          type: number
          description: The user’s SteamID
          example: 76561199054755373
        author_num_games_owned:
          type: number
          description: Number of games owned by the user
          example: 5
        author_num_reviews:
          type: number
          description: Number of reviews written by the user
          example: 3
        author_playtime_forever:
          type: number
          description: Lifetime playtime tracked
          example: 5587.0
        author_playtime_last_two_weeks:
          type: number
          description: Playtime tracked in the past two weeks
          example: 3200.0
        author_playtime_at_review:
          type: number
          description: Playtime when the review was written
          example: 5524.0
        author_last_played:
          type: number
          description: Time for when the user last played
          example: 1611383744.0
    Game:
      title: Game
      type: object
      properties:
        url:
          type: string
          description: URL to the game on the steam store
          example: 'https://store.steampowered.com/app/379720/DOOM/'
        types:
          type: string
          description: Type of the product
          example: 'app'
        name:
          type: string
          description: Name of the game
          example: 'DOOM'
        desc_snippet:
          type: string
          description: Description of the game
          example: 'Now includes all three premium DLC packs (Unto the Evil, Hell Followed, and Bloodfall), maps, modes, and weapons, as well as all feature updates including Arcade Mode, Photo Mode, and the latest Update 6.66, which brings further multiplayer improvements as well as revamps multiplayer progression.'
        recent_reviews:
          type: string
          description: Recent reviews of the game
          example: 'Very Positive,(554),- 89% of the 554 user reviews in the last 30 days are positive.'
        all_reviews:
          type: string
          description: All reviews of the game
          example: 'Very Positive,(42,550),- 92% of the 42,550 user reviews for this game are positive.'
        release_date:
          type: string
          description: Date of release
          example: 'May 12, 2016'
        developer:
          type: string
          description: Developer name
          example: 'id Software'
        publisher:
          type: string
          description: Publisher name
          example: 'Bethesda Softworks,Bethesda Softworks'
        popular_tags:
          type: string
          description: All tags of the game
          example: 'FPS,Gore,Action,Demons,Shooter,First-Person,Great Soundtrack,Multiplayer,Singleplayer,Fast-Paced,Sci-fi,Horror,Classic,Atmospheric,Difficult,Blood,Remake,Zombies,Co-op,Memes'
        game_details:
          type: string
          description: Game details
          example: 'Single-player,Multi-player,Co-op,Steam Achievements,Steam Trading Cards,Partial Controller Support,Steam Cloud'
        languages:
          type: string
          description: All supported languages
          example: 'English,French,Italian,German,Spanish - Spain,Japanese,Polish,Portuguese - Brazil,Russian,Traditional Chinese'
        achievements:
          type: number
          description: Total number of achievements
          example: 54
        genre:
          type: string
          description: Game genre
          example: 'Action'
        game_description:
          type: string
          description: Description of the game
          example: 'About This Game Developed by id software, the studio that pioneered the first-person shooter genre and created multiplayer Deathmatch, DOOM returns as a brutally fun and challenging modern-day shooter experience. Relentless demons, impossibly destructive guns, and fast, fluid movement provide the foundation for intense, first-person combat – whether you’re obliterating demon hordes through the depths of Hell in the single-player campaign, or competing against your friends in numerous multiplayer modes. Expand your gameplay experience using DOOM SnapMap game editor to easily create, play, and share your content with the world. STORY: You’ve come here for a reason.'
        mature_content:
          type: string
          description: Mature Content Description
          example: 'The developers describe the content like this:  This Game may contain content not appropriate for all ages, or may not be appropriate for viewing at work: Frequent Violence or Gore, General Mature Content'
        minimum_requirements:
          type: string
          description: Specification of minimum requirements
          example: 'Minimum:,OS:,Windows 7/8.1/10 (64-bit versions),Processor:,Intel Core i5-2400/AMD FX-8320 or better,Memory:,8 GB RAM,Graphics:,NVIDIA GTX 670 2GB/AMD Radeon HD 7870 2GB or better,Storage:,55 GB available space,Additional Notes:,Requires Steam activation and broadband internet connection for Multiplayer and SnapMap'
        recommended_requirements:
          type: string
          description: Specification of recommended requirements
          example: 'Recommended:,OS:,Windows 7/8.1/10 (64-bit versions),Processor:,Intel Core i7-3770/AMD FX-8350 or better,Memory:,8 GB RAM,Graphics:,NVIDIA GTX 970 4GB/AMD Radeon R9 290 4GB or better,Storage:,55 GB available space,Additional Notes:,Requires Steam activation and broadband internet connection for Multiplayer and SnapMap'
        original_price:
          type: string
          description: Original price (USD)
          example: '$19.99'
        discount_price:
          type: string
          description: Discount price (USD)
          example: '$14.99'


  securitySchemes:
    app_id:
      type: apiKey
      description: "API key to authorize requests."
      name: appid
      in: query

